body {
    display: flex;
    line-height: 2.3;
    flex-direction: column;
}
/*Header for my name and navigation*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    }
    h1 {
    font-size: 200%;
    }
/*Navigation details*/
    nav {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    }
    
    nav:hover {
    color: #fff;
    }

    nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    }
/*Header with fun fact about me*/
    article {
    flex: 1 1 0;
    padding-left: 80%;
    align-content: right;
    background-color: lightslategray;
    text-align: right;
    font-size: larger;
    padding-right: 5%;
    }
/*Section detials with images*/
    section {
    display: flex;
    flex: 1 1 0;
    text-align: left;
    padding-right: 10%;
    margin-top: 10px;
    }