* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: rgb(51, 48, 48);
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
    margin: 20;
}

.headertwo h2 {
    padding: 20px;
    font-size: 24px;
    float: right;
    margin-left: 50;

}
.header div {
    padding-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header div ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;

}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

::content {
    float:inline-end;
}

h3 {
    float: left;
    margin-left: 25px;
    display: inline-flex;
}
p {
    font-size: 16px;
}